---
---

@import "minima";

/* راست-to-چپ کردن کل سایت */
body {
  direction: rtl;
  text-align: right;
}

/* منوی ناوبری هم RTL شود */
.site-nav {
  float: left;
  .page-link {
    margin-left: 0;
    margin-right: 20px;
  }
}

/* عنوان سایت */
.site-title {
  float: right;
}

/* مطالب */
.post-list, .post-content, .product-content {
  direction: rtl;
  text-align: right;
}
